.container{
    width: 600px;
    height: 300px;
    background-color: rgb(134, 168, 198);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.item{
    width: 100px;
    height: 50px;
    background-color: green;
    border: 2px solid rgb(0, 0, 0);
    text-align: center ;
   
}

.one{
    grid-row-start: 1;
    grid-row-end: 3;
}